@font-face {
	font-family: 'Red Moon Rising';
	src: url('../../fonts/Red Moon Rising.otf');
}

@font-face {
	font-family: 'Questrial';
	src: url('../../fonts/Questrial-Regular.ttf');
}

@font-face {
	font-family: 'Desminore';
	src: url('../../fonts/desminore.otf');
}