h1 {
	text-align: center;
	font-size: 2.4em;
	font-family: 'Red Moon Rising';
	color: rgb(220,220,220);
	text-shadow: 0px 0px 10px white;
}

#utilisateur {
	display: inline-block;
	margin-top: 20px;
	margin-left: 20px;
	padding: 20px;
	border-radius: 10px;
	border: 2px solid white;
	background-color: rgba(220,220,220,0.6);
	font-style: 'Questrial';
	font-size: 1.3em;
}

#utilisateur table {
	float: left;
	text-align: center;
	margin-left: 40px;
}

.myButtonMini {
	margin-top: 20px;
}

input {
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: rgba(50,50,50,0.6);
	font-family: 'Questrial';
	color: white;
	text-align: center;
	font-size: 16px;
	border: 1px solid rgba(235,235,235,0.4);
}